jupyterlab
attrs==21.2.0
cffi==1.14.6
cryptography==3.4.8
Deprecated==1.2.13
ecdsa==0.17.0
jsonschema==3.2.0
jwcrypto==1.0
numpy==1.21.2
opencv-python==4.5.3.56
Pillow==8.3.2
pyasn1==0.4.8
pycparser==2.20
pyrsistent==0.18.0
python-jose==3.3.0
pyzbar==0.1.8
qrcode==7.3
rsa==4.7.2
six==1.16.0
wrapt==1.12.1